/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 16px;
  }
  /* Navbar */
  #nav-bar {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
  }
  /* Banner */
  .banner-part {
    flex-direction: column;
  }
  .banner-content {
    width: 90%;
    text-align: center;
    margin-top: 20%;
  }
  .list {
    margin-left: 20%;
    text-align: left;
  }
  .banner-img {
    width: 90%;
    margin-top: 20%;
  }
  /* We are  */
  .we-are-part {
    flex-direction: column-reverse;
  }
  .we-are-content {
    width: 90%;
    text-align: center;
  }
  .we-are-img {
    width: 90%;
  }
  /* Video Card */
  .games-card-items {
    grid-template-columns: 1fr;
  }
  .online-games-part {
    width: 90%;
    margin: 0 auto;
  }
  /* Feature Part */
  .feature-part {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .feature-content {
    text-align: center;
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .feature-img {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }

  .second-img {
    width: 200px;
  }

  /* App Part */
  .app-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .app-content {
    text-align: center;
    margin: 20px 0;
  }
  /* Popular Games */
  .popular-games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Footer Part */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 16px;
  }
  /* Navbar */
  #nav-bar {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
  }
  /* Banner */
  .banner-part {
    flex-direction: column;
  }
  .banner-content {
    width: 90%;
    text-align: center;
    margin-top: 10%;
  }
  .list {
    margin-left: 30%;
    text-align: left;
  }
  .banner-img {
    width: 90%;
    margin-top: 20%;
  }
  /* We are  */
  .we-are-part {
    flex-direction: column-reverse;
  }
  .we-are-content {
    width: 90%;
    text-align: center;
  }
  .we-are-img {
    width: 90%;
  }
  /* Video Card */
  .games-card-items {
    grid-template-columns: 1fr 1fr;
  }
  .online-games-part {
    width: 90%;
    margin: 0 auto;
  }
  /* Feature Part */
  .feature-part {
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
  }
  .feature-content {
    text-align: center;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  .second-img {
    width: 200px;
  }
  /* App Part */
  .app-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .app-content {
    text-align: center;
    margin: 20px 0;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 16px;
  }
  /* Navbar */
  #nav-bar {
    flex-direction: column;
  }
  .banner-part {
    margin-top: 10%;
    padding: 0 10%;
  }
  /* We are  */
  .we-are-part {
    padding: 0 10%;
  }
  .we-are-content {
    text-align: center;
  }
  .we-are-img {
    width: 60%;
  }
  .online-games-part {
    width: 90%;
    margin: 0 auto;
  }
  /* Feature Part */
  .feature-part {
    margin: 50px auto;
    width: 90%;
    margin: 0 auto;
  }
  .feature-content {
    text-align: center;
    margin: 0;
    width: 40%;
    margin-bottom: 50px;
  }
  .feature-img {
    width: 40%;
    margin-top: 20%;
  }

  .second-img {
    width: 200px;
  }
  /* App Part */
  .app-container {
    width: 90%;
    margin: 0 auto;
  }
  .app-content {
    text-align: center;
    margin-right: 30px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* No media query since the extra-large breakpoint has no upper bound on its width */
